.form-contacto-modal {
  color: #fff;
  padding: 3rem 1.5rem;
  border: 2px solid #e0e0e0;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 2rem;
  background-color: var(--colorQuintario);
}

@media (min-width: 780px) {
  .form-contacto-modal {
    padding: 3rem 3rem;
    width: auto;
  background-color: var(--colorQuintario);

  }
}

.form-contacto-modal input {
  /* color: #fff; */
  /* background: transparent; */
  width: 100%;
  padding: 20px 1px 1px 10px;
  outline: 0;
  border: 2px solid var(--colorTerciarios);
  border-radius: 5px;
}

.form-contacto-modal textarea {
  /* color: #fff; */
  /* background: transparent; */
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 2px solid var(--colorTerciarios);
  border-radius: 5px;
}

.form-contacto-modal input::placeholder {
  color: #000 !important;
}

.form-contacto-modal .btn-submit-contacto-modal {
  background-color: var(--colorQuintario) !important;
  border: 2px solid var(--colorTerciarios) !important;

  color: #fff;
  border: none;
  padding: 10px 20px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.9rem;
  transition: background-color 0.3s ease;
}
.form-contacto-modal .btn-submit-contacto-modal:hover {
  background: linear-gradient(
    to right,
    var(--colorSecundario) 0%,
    var(--colorCuaternario) 100%
  );
}

.form-contacto-modal .div-contacto-textarea textarea::placeholder {
  color: #000;
}