/* Servicios */

.seccion-tres {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: var(--colorQuintario);
  padding: 1.8rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 780px) {
  .seccion-tres {
    height: 100vh;
   padding: 8rem 3rem 0 3rem; 
     justify-content: start;
  }
}

.seccion-tres h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.seccion-tres p {
  text-align: center;
  color: var(--colorSecundario);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  max-width: 100%;
  margin: 1rem 1rem 0 1rem;
}

.servicios-cards {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 3.5rem;
}
@media (min-width: 780px) {
  .servicios-cards {
    grid-template-columns: repeat(5, 1fr);
      grid-template-rows:none;
    max-width: 96%;
  }
}
.card-service {
    cursor: pointer;
  padding: 1rem;
  background-color: #01162b;
  border-radius: 10px;
  max-height: 100rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-service:hover i{
    color: #fff;
    transition: color 0.3s ease;    
}

.card-service i {
  font-size: 5rem;
  color: var(--colorSecundario);
  margin-top: 1rem;
}

.card-service p {
  text-align: center;
  color: var(--colorTerciarios);
  font-size: 1.8rem;
  font-weight: 700;
  max-width: 100%;
  margin: 0;
  /* margin: 1rem 1rem 0 1rem;      */
}
.card-service-text{
  padding: 2rem 0;
}
.card-service-text p{
  text-align: center;
  color: var(--colorTerciarios);
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 100%;
  margin: 0;
}
.servicios-cards .card-service:nth-child(1) {
  grid-column: 1 / 3;
}
@media (min-width: 780px) {
  .servicios-cards .card-service:nth-child(1) {
    grid-column: 1 / 2;
  }
}
.servicios-cards .card-service:nth-child(2) {
  grid-column: 3 / 6;
}
@media (min-width: 780px) {
  .servicios-cards .card-service:nth-child(2) {
    grid-column: 2 / 3;
  }
}
.servicios-cards .card-service:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
@media (min-width: 780px) {
  .servicios-cards .card-service:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: inherit;
  }
}

.servicios-cards .card-service:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 6;
}
@media (min-width: 780px) {
  .servicios-cards .card-service:nth-child(4) {
       grid-row: inherit;
    grid-column: 4 / 5;
  }
}
.servicios-cards .card-service:nth-child(5) {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

@media (min-width: 780px) {
  .servicios-cards .card-service:nth-child(5) {
    grid-row: inherit;
    grid-column: 5 / 6;
  }
}