@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./inicio.css);
@import url(./quienes-somos.css);
@import url(./servicios.css);
@import url(./carrucel.css);
@import url(./modal.css);
@import url(./masInfo.css);
@import url(./formulario.css);
@import url(./contacto.css);
@import url(./footer.css);
:root {
  --colorPrincipal: #2a94a9;
  --colorSecundario: #247a8e;
  --colorTerciarios: #f1f1f1;
  --colorCuaternario: #1d4d74;
  --colorQuintario: #020a13;
  --fuentePrincipal: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; /* A침ade el efecto de desplazamiento suave */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 1rem 0 4rem 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 5.8rem;
}
h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

span {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block; /* //para quitar la linea que sale en la parte inferior de la imagen */
}
/* utils */
.ocultar {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
.anchorWhite {
  color: #fff !important;
}
.reducir {
  height: 50px;
  transition: all 0.3s ease;
  background-color: transparent !important;
  box-shadow: none !important;
}
.contenedor {
  margin: 0 auto;
  width: 100%;
}

.degradado-verde {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--colorPrincipal) 0%,
    var(--colorSecundario) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* elementos */
.headers {
  position: fixed;
  z-index: 3;
  width: 100%;
  max-height: 90px;
  background: #f1f1f1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* transition: max-height 0.6s ease, background 0.6s ease, box-shadow 0.6s ease; */
}
.logo {
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo img {
  width: 100%;
  height: auto; /* mantiene la proporci칩n */
  display: block;
}

.barra-nav {
  display: none;
}
@media (min-width: 780px) {
  .barra-nav {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .barra-nav nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .barra-nav nav a {
    color: var(--colorPrincipal);
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem;
    transition: all 0.3s ease;
  }
}



/* 游댱 Personaliza el t칤tulo */
.swal-title-custom {
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  padding: 2rem 0;
}

/* 游눜 Personaliza el icono */
.swal-icon-custom {
  font-size: 1.2rem;
  transform: scale(1.4); /* Aumenta tama침o del icono */
}

/* 游릴 Puedes ajustar tambi칠n el cuadro completo */
.swal2-popup {
  font-size: 1rem;
}

/* 游꿛 Bot칩n personalizado */
.swal-btn-custom {
  color: #fff;
  background-color: #009455!important; 
  font-size: 1.8rem;                   
  

  transition: all 0.3s ease;
  font-weight: 600;
}

.swal-btn-custom:hover{
  background-color: #017e49 !important;
}



